{# Correct Answer #}
<div class="notification success is_hidden correct-answer">
    <span class="icon fa fa-check" aria-hidden="true"></span>
    <span class="notification-message">
        {{ notification_message }}
    </span>
</div>

{# Incorrect Answer Notification #}
<div class="notification error is_hidden incorrect-answer">
    <span class="icon fa fa-close" aria-hidden="true"></span>
    <span class="notification-message">
        {{ notification_message }}
    </span>
</div>

{# Partially Correct Answer Notification #}
<div class="notification success is_hidden partially-correct-answer">
    <span class="icon fa fa-asterisk" aria-hidden="true"></span>
    <span class="notification-message">
        {{ notification_message }}
    </span>
</div>
