<div class="text_matching_xblock_block problems-wrapper">
    <h3 class="hd hd-3 problem-header">
        {{ display_name }}
    </h3>
    <div class="problem-progress">
        1 point possible (ungraded)
    </div>
    <div class="problem">
        <div>
            <p>
                {{ question }}
            </p>
            {% include 'matching_zone.html' %}
        </div>
        <div class="action">
            <div class="submit-attempt-container">
                <button type="button" class="submit btn-brand">
                    <span class="submit-label">Gửi</span>
                </button>
                <div class="submission-feedback">
                    You have used {{ attempts_used }} of {{ max_attempts }} attempts.
                </div>
            </div>
        </div>
        {% include 'submit-notification.html' %}
    </div>
</div>
