<div class="text_matching_xblock_block problems-wrapper">
    <h3 class="hd hd-3 problem-header">
        {{ display_name }}
    </h3>
    <div class="problem-progress">
    </div>
    <div class="problem">
        <div>
            <p>
                {{ description }}
            </p>
            {% include 'matching_zone.html' %}
        </div>
        <div class="action">
            <div class="problem-action-buttons-wrapper">
                {% if show_save_button %}
                    <span class="problem-action-button-wrapper">
                        <button type="button" class="show problem-action-btn btn-default btn-small btn-save">
                            <span class="show-label">Save</span>
                        </button>
                    </span>
                {% endif %}
                {% if show_reset_button %}
                    <span class="problem-action-button-wrapper">
                        <button type="button" class="show problem-action-btn btn-default btn-small btn-reset">
                            <span class="show-label">Reset</span>
                        </button>
                    </span>
                {% endif %}
                {% if show_answer_button %}
                    <span class="problem-action-button-wrapper">
                        <button type="button" class="show problem-action-btn btn-default btn-small btn-show-answer">
                            <span class="show-label">Show answer</span>
                        </button>
                    </span>
                {% endif %}
            </div>
            <div class="submit-attempt-container">
                <button type="button" class="submit btn-brand">
                    <span class="submit-label">Submit</span>
                </button>
                <div class="submission-feedback">
                    {% if max_attempts != -1 %}
                        You have used {{ attempts_used }} of {{ max_attempts }} attempts.
                    {% endif %}
                </div>
            </div>
        </div>
        {% include 'submit-notification.html' %}
    </div>
</div>
