<li
        class="field comp-setting-entry metadata_entry {% if field.is_set %}is-set{% endif %}"
        data-field-name="Matching Section"
        data-cast="custom"
>
    <div
            class="wrapper-comp-setting{% if field.type == "set" %} metadata-list-enum {% endif %}"
            style="display: flex;align-items: start;"
    >
        <label class="label setting-label" for="xb-field-edit-matching-section">
            Matching Section
        </label>
        <div style="display: inline-block;width: 70%">
            <div class="matching-item-row">
                <div class="matching-item-column">
                    <p class="matching-item-column-title">
                        Prompt
                    </p>
                </div>
                <div class="matching-item-column">
                    <p class="matching-item-column-title">
                        Response
                    </p>
                </div>
                <div class="matching-item-subcolumn">
                </div>
            </div>
            <ul class="matching-items-wrapper">
                {% for item in items %}
                    {% include "matching_item.html" with item=item %}
                {% endfor %}
            </ul>
            <button class="btn-add-matching-item">
                Add more item
            </button>
        </div>
    </div>
</li>
