<li>
    <div class="matching-item-row">
        <div class="matching-item-column">
            <label>
                <input
                        type="text"
                        class="field-data-control"
                        data-subfield-name="prompt"
                        value="{% if item %}{{ item.prompt.text }}{% else %}{% endif %}"
                >
            </label>
        </div>
        <div class="matching-item-column">
            <label>
                <input
                        type="text"
                        class="field-data-control"
                        data-subfield-name="response"
                        value="{% if item %}{{ item.response.text }}{% else %}{% endif %}"
                >
            </label>
        </div>
        <div class="matching-item-subcolumn">
                <i class="icon fa fa-trash btn-remove-item fa-lg" aria-hidden="true"></i>
        </div>
    </div>
</li>
