.MatchingZone {
    display: flex;
}

.MatchingZone > ul {
    padding-left: 0;
    list-style: none !important;
    width: 100%;
}

.ZoneWrapper {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.matching-item-wrapper {
    border-top: 1px solid dimgray;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
}

.matching-item-wrapper > * {
    flex: 1;
}

.prompt-wrapper p {
   margin-bottom: 0 !important;
}

.btn-reset-response {
    background-color: #e0e1e2 !important;
    margin-left: 20px !important;
    width: 44px !important;
    height: 44px !important;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.btn-reset-response:hover {
    background-color: #cacbcd;
    transition: 0.3s;
}


.response-options {
    width: 320px;
    min-width: 262px;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    line-height: normal;
    border: 2px solid #e4e4e4;
    border-radius: 3px;
}

.response-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.response-wrapper label {
    margin-bottom: 0;
}
