.MatchingZone {
    display: flex;
}

.MatchingZone > ul {
    list-style-type: none;
    width: 100%;
}

.ZoneWrapper {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.matching-item-wrapper {
    border-top: 1px solid dimgray;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
}

.matching-item-wrapper > * {
    flex: 1;
}

.prompt-wrapper {
    vertical-align: center;
}

.btn-reset-response {
    margin-left: 20px;
}

.response-options {
    min-width: 262px;
}
