{#Block element for drag and drop UI#}
<div>
    {% if status == "origin-occupied" %}
        <div class="BlockWrapper BlockWrapper--isDropzone draggable-dropzone--occupied"
             data-dropzone-id="{{ dropzone_id }}"
             data-dropzone-type="{{ dropzone_type }}"
        >
                <span class="Block Block--typeHollow">
                    <div class="BlockContent">
                        <p class="">
                            {{ text }}
                        </p>
                    </div>
                </span>
            <span class="Block Block--isDraggable" title="Click to drag">
                    <div class="BlockContent">
                        <p class="">
                            {{ text }}
                        </p>
                    </div>
                </span>
        </div>
    {% elif status == "dropzone-occupied" %}
        <div class="BlockWrapper BlockWrapper--isDropzone draggable-dropzone--occupied"
             data-dropzone-id="{{ dropzone_id }}"
             data-dropzone-type="{{ dropzone_type }}"
        >
            <span class="Block Block--occupied">
                <div class="BlockContent">
                    <p>
                        Fill in this blank
                    </p>
                </div>
            </span>
            <span class="Block Block--isDraggable" title="Click to drag">
                <div class="BlockContent">
                    <p>
                        {{ text }}
                    </p>
                </div>
            </span>
        </div>
    {% elif status == "blank" %}
        <div class="BlockWrapper BlockWrapper--isDropzone"
             data-dropzone-id="{{ dropzone_id }}"
             data-dropzone-type="{{ dropzone_type }}"
        >
            <span class="Block Block--occupied">
                <div class="BlockContent">
                    <p>
                        Fill in this blank
                    </p>
                </div>
            </span>
        </div>
    {% elif status == "hollow" %}
        <div class="BlockWrapper BlockWrapper--isDropzone"
             data-dropzone-id="{{ dropzone_id }}"
             data-dropzone-type="{{ dropzone_type }}"
        >
            <span class="Block Block--typeHollow">
                <div class="BlockContent">
                    <p>
                        {{ text }}
                    </p>
                </div>
            </span>
        </div>
    {% endif %}
</div>
