<div class="MatchingZone" id={{ id }}>
    <ul>
        {% for matching_item in matching_items %}
            <li>
                <div class="matching-item-wrapper" data-prompt-id={{ matching_item.prompt.id }}>
                    <div class="prompt-wrapper">
                        <p>
                            {{ matching_item.prompt.text }}
                        </p>
                    </div>
                    <div class="response-wrapper">
                        <label>
                            <select class="ui dropdown" data-prompt-id={{ matching_item.prompt.id }}>
                                <option value="" selected disabled>Select your response</option>
                                <option value="1">Male</option>
                                <option value="0">Female</option>
                            </select>
                        </label>
                    </div>
                    <span class="fa fa-refresh btn-reset-response" aria-hidden="true"></span>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
